<div class="flex flex-center py-24">
  <!-- <a
    *ngIf="
      !(sellerInfo | async)?.data() &&
      (userInfo | async)?.data().role.includes('seller')
    "
    href="/seller"
    mat-raised-button
    color="accent"
    >Seller Info</a
  >
  <div class="px-8"></div> -->

  <a
    *ngIf="(userInfo | async)?.data().role.includes('seller')"
    href="/seller"
    mat-raised-button
    color="accent"
    >Update Seller Profile</a
  >
  <div class="px-8"></div>

  <!-- <a
    *ngIf="
      !(buyerInfo | async)?.data() &&
      (userInfo | async)?.data().role.includes('buyer')
    "
    href="/buyer"
    mat-raised-button
    color="accent"
    >Buyer Info</a
  >
  <div class="px-8"></div> -->

  <a
    *ngIf="(userInfo | async)?.data().role.includes('buyer')"
    href="/buyer"
    mat-raised-button
    color="accent"
    >Update Buyer Profile</a
  >
  <div class="px-8"></div>
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>

<!-- admin will see this paragraph -->
<div
  class="p-48 text-center"
  *ngIf="(userInfo | async)?.data().role.includes('admin')"
>
  <h1>Admin</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>

<!-- buyer will see this -->
<div
  class="p-48 text-center"
  *ngIf="(userInfo | async)?.data().role.includes('buyer')"
>
  <h1>Buyer</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>

<!-- seller will see this -->
<div
  class="p-48 text-center"
  *ngIf="(userInfo | async)?.data().role.includes('seller')"
>
  <h1>Seller</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>
